[credential]
  helper = manager

[alias]
  a = add .
  b = checkout -b # git checkout -b newbranch 
  bl = branch -a # list all branches
  c = commit -am # commit add message
  cl = clone
  co = checkout
  d = diff
  db = branch -D # delete branch
  f = fetch
  i = init
  # https://egghead.io/lessons/git-make-my-git-log-look-pretty-and-readable
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches 
  o = open # see: https://github.com/paulirish/git-open ♥
  p = pull
  prune = remote prune origin
  pt = push --tags
  ra = rebase --abort # use if you have trouble with merge conflict
  rc = rebase --continue # use after resolving conflicts
  rs = rebase --skip # nothing to resolve move along
  rv = remote -v # verify remote url
  s = status
  sc = clone --depth 20 # shallow clone 
  t = tag -l # list tags
  ta = tag -a # add tag

[color]
  ui = true

[user]
  name = spences10
  email = spences10apps@gmail.com

[core]
  filemode=false # https://stackoverflow.com/questions/1257592/how-do-i-remove-files-saying-old-mode-100755-new-mode-100644-from-unstaged-cha#

[winUpdater]
  recentlySeenVersion = 2.20.1.windows.1

[help]
  autoCorrect = 20

[pull]
  ff = only
