[alias]
  a = add .
  b = branch
  c = commit -am
  co = checkout
  cl = clone
  f = fetch
  s = status
  p = push

[user]
	name = spences10
	email = spences10apps@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	#autocrlf = false # ¯\_(ツ)_/¯ http://stackoverflow.com/questions/2825428/why-should-i-use-core-autocrlf-true-in-git
	excludesfile = C:\\Users\\spenc\\OneDrive\\Documents\\gitignore_global.txt
  editor = code --wait

[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
