[alias]
  a = add .
  c = commit -am
  co = checkout
  s = status
  p = push

[user]
	name = spences10
	email = spences10apps@gmail.com
  
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	autocrlf = true
	excludesfile = C:\\Users\\spenc\\OneDrive\\Documents\\gitignore_global.txt
